@charset "UTF-8";
/* CSS Document */

.hidden {
	display: none
}

.clearfix:after
{
	content: " ";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}

#topbar
{
	height: 30px;
	background-color: #765591;
}


#mainHeader
{
	border-bottom: thin solid #C2C2C2;
	padding-bottom: 3px;
	overflow: hidden;
}
#logo{
	margin-top: 10px;
}

#mainNav
{
	margin-top: 10px;
	text-align: center;
}

#mainNav ul li
{
	display: inline;
}

#mainNav ul li a
{
	text-decoration: none;
	margin-right: 10px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.85em;
	color: #765591;
}
 #mainNav ul li a:first-child{
	 margin-left: 5px;
 }

#PromoArea
{
	background-color: #e8e9eb;
	margin-top: 10px;
	padding-bottom: 6px;
}

#slogan
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 1.2em;
	color: #765591;
}

#PromoArea p
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}

#features
{
	margin-top: 15px;
	border-top: thin solid #C2C2C2;
}

#features h2
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: bolder;
	color: #765591;
	letter-spacing: 3px;
	margin-bottom: 0px;
}

#about, #contact, #team{
	text-align: center;
}

#aboutImg
{
	margin-bottom: 0px;
}

#about h3
{
	color: #765591;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	text-decoration: underline;
	margin-top: 0px;
}

#about p
{
	color: #898989;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	font-weight: bold;
	text-align: center;

}

#about p:hover
{
	color: black;
}

#contact h3
{
	color: #765591;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	text-decoration: underline;
	margin-top: 0px;
}

#contact p
{
	color: #898989;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#contact p:hover
{
	color: black;
}

#team h3
{
	color: #765591;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	text-decoration: underline;
	margin-top: 0px;
}

#team p
{
	color: #898989;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#team p:hover
{
	color: black;
}

#mainFooter
{
	margin-top: 0;
	background-color: #765591;
}

#social
{
	margin-bottom: 10px;
}

.socails{
	margin: 0;
	padding: 2px;
}

#footerNav
{
	margin-top: 10px;
}
#footerNav ul {
	text-align: center;
}

#footerNav ul li
{
	display: inline;
}

#footerNav ul li a
{
	text-decoration: none;
	margin-right: 10px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:.85em;
	color: black;
}

#footerLogo{
	margin-bottom: 0;
}
/*ABOUT US*/

#aboutIntro h2, #ourTeam
{
	text-align: center;
	margin-top: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: underline;
	font-size: 1.25em;
	font-weight: bold;
	color: #765591;
}
#aboutText
{
	color: #777777;
	font-size: 0.85em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

#aboutQuote
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #765591;
}


#JshowMore, #FshowMore
{
	color: #765591;
}


#fran h3, #julie h3
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	color: #765591;
}

#fran p, #julie p
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.9em;
	color: #777777;
}

#franImg, #julieImg
{
	margin-bottom: 10px;
}

#contactIntro
{
	text-align: center;
}

#contactIntro h2
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: underline;
	font-size: 1em;
	font-weight: bold;
	color: #765591;
	margin-top: 10px;
}

#contactIntro p
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.85em;
	color: #777777;
}

#contactForm
{
	background-image: url(../images/keyboard-hands.jpg);
	background-repeat: no-repeat;
	padding-bottom: 10px;
}

#contactInputs input, textarea
{
	background-color: #ebebeb;
	border-radius: 7px;
	padding: 10px;
	margin-bottom: 10px;
}

#contactForm p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.9em;
	font-weight: bold;
	color: #765591;
	margin-bottom: 0;
}

#submit{
	color: #765591;
}

#submit:hover{
	background-color: #765591;
	color: white;
}

@media screen and (min-width: 40em){
	#footerNav ul li a{
		font-size: 1.5em;
	}

	#footerNav ul{
		text-align: center;
	}

	#social{
		margin-right: 10px
	}

	#aboutText
	{
		font-size: 1em;
	}

}

@media screen and (min-width: 63.75em) {
	#mainNav{
		margin-top: 55px;
	}
	#mainNav ul li a{
		font-size: 1em;
	}
	#mainNav ul li{
		margin-left: 15px;
	}
	#slogan{
		font-size: 1.5em;
	}

	#PromoArea p{
		font-size: 1.1em;
	}

	#mainFooter{
		padding: 10px 0px;
	}
	#footerNav ul{
		margin-left: 0;
		margin-right: 18px;
	}

	#footerNav ul li{
		margin-left: 10px;
	}

}
